#test7{
}
#test7.c1{
-khtml-opacity:0.8;
-moz-opacity:0.8;
color:red;
filter:alpha(opacity=80);
opacity:0.8;
}
#test7.c2{
-khtml-opacity:0.5;
-moz-opacity:0.5;
color:green;
filter:alpha(opacity=50);
opacity:0.5;
}
.filter{
-khtml-opacity:0.5;
-moz-opacity:0.5;
filter:alpha(opacity=50);
opacity:0.5;
}

